@import url("../../assets/css/styles.css");

/* Estilos do link */
.container-links__link {
    color: var(--verde-destaque);
    font-size: 18px;
}

.container-links__link::after {
    display: inline-block;
    content: ' ';
    width: 30px;
    height: 20px;
    background-image: url('../img/prancheta.svg');
    background-repeat: no-repeat;
    background-position: center;
}