@import url("./styles.css");

.container-login form {
    margin: 0 14.5px;
    font-size: 18px;
    font-weight: 400;
}

/* Estilos do titulo do container de links */
.container-links__titulo {
    font-size: 15px;
    color: var(--offwhite);
    position: relative;
}

.container-links__titulo::before,
.container-links__titulo::after {
    position: absolute;
    display: inline-block;
    top: 0.7em;
    left: 1em;
    content: " ";
    width: 2em;
    height: 0.05em;
    background-color: var(--offwhite);
}

.container-links__titulo::after {
    left: initial;
    right: 1em;
}